<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.DagComputeCaseNodesMapper">
    
    <resultMap type="DagComputeCaseNodes" id="DagComputeCaseNodesResult">
        <result property="id"    column="id"    />
        <result property="nodeAlgorithmId"    column="node_algorithm_id"    />
        <result property="computeCaseId"    column="compute_case_id"    />
        <result property="name"    column="name"    />
        <result property="inPorts"    column="in_ports"    />
        <result property="outPorts"    column="out_ports"    />
        <result property="posX"    column="pos_x"    />
        <result property="posY"    column="pos_y"    />
        <result property="type"    column="type"    />
        <result property="icon"    column="icon"    />
        <result property="description"    column="description"    />
    </resultMap>

    <sql id="selectDagComputeCaseNodesVo">
        select id, node_algorithm_id, compute_case_id, name, in_ports, out_ports, pos_x, pos_y, type, icon, description from dag_compute_case_nodes
    </sql>

    <select id="selectDagComputeCaseNodesList" parameterType="DagComputeCaseNodes" resultMap="DagComputeCaseNodesResult">
        <include refid="selectDagComputeCaseNodesVo"/>
        <where>  
            <if test="nodeAlgorithmId != null "> and node_algorithm_id = #{nodeAlgorithmId}</if>
            <if test="computeCaseId != null "> and compute_case_id = #{computeCaseId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="inPorts != null  and inPorts != ''"> and in_ports = #{inPorts}</if>
            <if test="outPorts != null  and outPorts != ''"> and out_ports = #{outPorts}</if>
            <if test="posX != null  and posX != ''"> and pos_x = #{posX}</if>
            <if test="posY != null  and posY != ''"> and pos_y = #{posY}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="icon != null  and icon != ''"> and icon = #{icon}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
        </where>
    </select>
    
    <select id="selectDagComputeCaseNodesById" parameterType="Long" resultMap="DagComputeCaseNodesResult">
        <include refid="selectDagComputeCaseNodesVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDagComputeCaseNodes" parameterType="DagComputeCaseNodes" useGeneratedKeys="true" keyProperty="id">
        insert into dag_compute_case_nodes
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="nodeAlgorithmId != null">node_algorithm_id,</if>
            <if test="computeCaseId != null">compute_case_id,</if>
            <if test="name != null">name,</if>
            <if test="inPorts != null">in_ports,</if>
            <if test="outPorts != null">out_ports,</if>
            <if test="posX != null">pos_x,</if>
            <if test="posY != null">pos_y,</if>
            <if test="type != null">type,</if>
            <if test="icon != null">icon,</if>
            <if test="description != null">description,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="nodeAlgorithmId != null">#{nodeAlgorithmId},</if>
            <if test="computeCaseId != null">#{computeCaseId},</if>
            <if test="name != null">#{name},</if>
            <if test="inPorts != null">#{inPorts},</if>
            <if test="outPorts != null">#{outPorts},</if>
            <if test="posX != null">#{posX},</if>
            <if test="posY != null">#{posY},</if>
            <if test="type != null">#{type},</if>
            <if test="icon != null">#{icon},</if>
            <if test="description != null">#{description},</if>
         </trim>
    </insert>

    <update id="updateDagComputeCaseNodes" parameterType="DagComputeCaseNodes">
        update dag_compute_case_nodes
        <trim prefix="SET" suffixOverrides=",">
            <if test="nodeAlgorithmId != null">node_algorithm_id = #{nodeAlgorithmId},</if>
            <if test="computeCaseId != null">compute_case_id = #{computeCaseId},</if>
            <if test="name != null">name = #{name},</if>
            <if test="inPorts != null">in_ports = #{inPorts},</if>
            <if test="outPorts != null">out_ports = #{outPorts},</if>
            <if test="posX != null">pos_x = #{posX},</if>
            <if test="posY != null">pos_y = #{posY},</if>
            <if test="type != null">type = #{type},</if>
            <if test="icon != null">icon = #{icon},</if>
            <if test="description != null">description = #{description},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDagComputeCaseNodesById" parameterType="Long">
        delete from dag_compute_case_nodes where id = #{id}
    </delete>

    <delete id="deleteDagComputeCaseNodesByIds" parameterType="String">
        delete from dag_compute_case_nodes where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>