<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.DagSideBarMapper">
    
    <resultMap type="DagSideBar" id="DagSideBarResult">
        <result property="id"    column="id"    />
        <result property="icon"    column="icon"    />
        <result property="active"    column="active"    />
        <result property="form"    column="form"    />
        <result property="name"    column="name"    />
        <result property="nodeAlgorithmId"    column="node_algorithm_id"    />
        <result property="parentId"    column="parent_id"    />
        <result property="ancestors"    column="ancestors"    />
        <result property="orderNum"    column="order_num"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectDagSideBarVo">
        select id, icon, active, form, name, node_algorithm_id, parent_id, ancestors, order_num, create_by, create_time, update_by, update_time from dag_side_bar
    </sql>

    <select id="selectDagSideBarList" parameterType="DagSideBar" resultMap="DagSideBarResult">
        <include refid="selectDagSideBarVo"/>
        <where>  
            <if test="icon != null  and icon != ''"> and icon = #{icon}</if>
            <if test="active != null  and active != ''"> and active = #{active}</if>
            <if test="form != null  and form != ''"> and form = #{form}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="nodeAlgorithmId != null "> and node_algorithm_id = #{nodeAlgorithmId}</if>
            <if test="parentId != null "> and parent_id = #{parentId}</if>
            <if test="ancestors != null  and ancestors != ''"> and ancestors = #{ancestors}</if>
            <if test="orderNum != null "> and order_num = #{orderNum}</if>
        </where>
    </select>
    
    <select id="selectDagSideBarById" parameterType="Long" resultMap="DagSideBarResult">
        <include refid="selectDagSideBarVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDagSideBar" parameterType="DagSideBar" useGeneratedKeys="true" keyProperty="id">
        insert into dag_side_bar
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="icon != null">icon,</if>
            <if test="active != null">active,</if>
            <if test="form != null">form,</if>
            <if test="name != null">name,</if>
            <if test="nodeAlgorithmId != null">node_algorithm_id,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="ancestors != null">ancestors,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="icon != null">#{icon},</if>
            <if test="active != null">#{active},</if>
            <if test="form != null">#{form},</if>
            <if test="name != null">#{name},</if>
            <if test="nodeAlgorithmId != null">#{nodeAlgorithmId},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="ancestors != null">#{ancestors},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateDagSideBar" parameterType="DagSideBar">
        update dag_side_bar
        <trim prefix="SET" suffixOverrides=",">
            <if test="icon != null">icon = #{icon},</if>
            <if test="active != null">active = #{active},</if>
            <if test="form != null">form = #{form},</if>
            <if test="name != null">name = #{name},</if>
            <if test="nodeAlgorithmId != null">node_algorithm_id = #{nodeAlgorithmId},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="ancestors != null">ancestors = #{ancestors},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDagSideBarById" parameterType="Long">
        delete from dag_side_bar where id = #{id}
    </delete>

    <delete id="deleteDagSideBarByIds" parameterType="String">
        delete from dag_side_bar where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>